$primary-color-pale: hsl(276, 100%, 81%);
$primary-color-moderate:hsl(276, 55%, 52%);
$primary-color-dark:hsl(271, 15%, 43%);
$primary-color-grayish:hsl(206, 6%, 79%);
$primary-color-desatured:hsl(271, 36%, 24%);
$primary-color-dark_grayish:hsl(270, 7%, 64%);

$gradient-magenta:hsl(293, 100%, 63%);
$gradient-violet:hsl(264, 100%, 61%);

$secondary-color-white: hsl(0, 0%, 100%);
$secondary-color-grayish:hsl(270, 20%, 96%);
$secondary-color-desatured:hsl(271, 36%, 24%);
$secondary-color-magenta:hsl(289, 100%, 72%);
