main {
    display: grid;
    grid-template-rows: 40% 1fr;
    section {
        .imagen { 
        background-image: url("../img/image-product-1.jpg");
        width: 100vw;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        }
        h6 {
            @include texto ($cp-orange);
            text-transform: uppercase;
        }
        .precios span:nth-child(2) {
            @include texto ($cp-orange);
            background-color: $cp-pale-orange;
            padding: 5px;
            border-radius: 5px;
        }
        div span:nth-child(3) {
            @include texto ($cs-grayish-blue);
            text-decoration:line-through;
            justify-self: end;
        }
        h2, div span:first-child, .cantidad :first-child, .cantidad :last-child {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .main_info_p {
            font-size: 1.6rem;
            color: $cs-dark-grayish-blue;
        }
        .precios {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            place-items: center start;
            gap: 10px;
        }
        .botones {
            justify-self: center;
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
        .cantidad {
            display: grid;
            grid-template-columns: 40% 1fr 40%;
            @include botones ($cs-light-greyish-blue);
            padding: 15px;
            width: 280px;
            align-items: center;
            p {
            color: $cs-black;
            font-size: 1.3rem;
            font-weight: 700;
            justify-self: center;
            }
        }
        .cantidad :first-child {
            color: $cp-orange;
            justify-self: start;
            align-self: center;
        }
        .cantidad :last-child {
            color: $cp-orange;
            justify-self: end;
            align-self: center;
        }

        #cart {
            @include texto ($cs-black);
            @include botones ($cs-light-greyish-blue);
            background-color: $cp-orange;
            color: $cs-white;
            place-self: center center;
            display: flex;
            gap: 10px;
        }
        #cart::before {
            font-family: "Font Awesome 5 Free";
            content: "\f07a";
        }
        #cart:hover {
            transform: scale(1.1);
            cursor: pointer;
            transition:0.2s;
        }
    }
    .info {
        padding: 1rem 2rem;
        display: grid;
        place-items: center start;
        gap: 15px;
        margin-bottom: 50px;
    }
}